.body {
    background-color: white;
    display:flex;
    flex-direction: column;
    border: 3px solid red;
    height: 96vh;
    width: 96vw;
    justify-content:space-between;

}
.header {

}
.h-links{
    border: 3px solid red;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.apps{
    flex-basis: 1.5em;;
}
.footer{
    display:flex;
    flex-direction: row;
    background-color: rgba(0,0,0,.12);
    height:20vh;
}
.search-box{
    border: 2px solid blue;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    height:10vh;
    width:70vw;
}
.search-logo{
    border: 2px solid red;
    flex-basis:1em;
    align-self: center;
    
}
.logo{
    display:flex;
    justify-content: center;

}
.form{
    height:30vh;
}
.buttons{
    border: 1px solid green;
    display:flex;
    justify-content: center;
    height:10vh;
}
.location{
    border:3px solid rgb(68, 29, 29);
    justify-content: center;
    height:30vh;
}
